
/* primary color #ea047e */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'rubik', sans-serif;
    transition: all 0.3s ease-in-out;
}

.container{
    height: 100vh;
    width: 100%;
    display:grid;
    place-items: center;
    padding: 2rem;
}

.row{
    display:flex;
    flex-wrap: wrap;
}

.column{
    width: 100%;
    padding: 1rem;
}

.card{
    height: 100%;
    width: 100%;
    background: linear-gradient(#fff 50%, #ea047e 50%);
    background-size: 100% 200%;
    background-position: 0 -1%;
    padding: 2rem 1rem;
    border-radius: 0.3rem;
    text-align: center;
    /* transition: all 0.3s ease-in-out; */
    box-shadow: 0 0 1rem rgba(0,0,0,0.1);
}

.active{
    background-position: 0 -100% !important;
    color: #fff;
}

/* .card:hover{
    background-position: 0 -100%;
} */

.icon-bg{
    background: #ea047e;
    color: #fff;
    height: 4rem;
    width: 4rem;
    margin: 0 auto;
    display: grid;
    place-items: center;
    border-radius: 50%;
    font-size: 1.3rem;
}

.card:hover .icon-bg{
    background: #fff;
    color: #ea047e;
}
h1{
    color: #000000;
    padding: 1rem 0;
    font-size: 1.4rem;
}
p{
    color:#777;
    font-size: 1.1rem;
    font-weight: 500;
}

.card:hover h1{
    color: #fff;
}
.card:hover p{
    color: #fff;
}

@media (min-width:40em){
    .column{
        flex: 0 50%;
    }
}

@media (min-width:60em){
    .column{
        flex: 1;
    }
}